body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #252B42;
}

a {
    text-decoration: none;
    color: #252B42;
    ;
}

a:hover {
    color: #D5944D;
}
.card-post-link:hover{
    cursor: pointer;
    color: #252B42;
}

.navbar-header .nav-link {
    color: #252B42;
}

.navbar-header .active {
    font-weight: 700;
}

.navbar-header .nav-link:hover {
    color: #D5944D;
}

.logo-img {
    margin-left: 15px;
    margin-right: 42px;
    margin-bottom: 5px;
    width: 126px;
    height: 32px;
}

@media screen and (max-width: 768px) {
    .logo-img {
        margin-bottom: 0px;
        margin-right: 0;

        width: 100px;
        height: 29px;
    }
}

.logo-img-menu {
    width: 94px;
    height: 32px;
    margin-top: 10px;
    margin-right: 20px;
}

.hamburger {
    font-size: 24px;
    user-select: none;
    color: #512345;
}

/* Language dropdown */
#checkbox_language {
    display: none;
}

.language {
    padding: 10px 5px;
    display: flex;
    flex-wrap: nowrap;
}

.language:hover {
    cursor: pointer;
}

input[type=checkbox]:checked~.menu_language {
    display: block;
}

.position-relative {
    position: relative;
    right: 10px;
}

.language-dropdown {
    width: 300px;
    position: absolute;
    top: 32px;
    z-index: 1;
}

.display-none {
    display: none;
}

.shadow-box {
    display: flex;
    /* ul style II */
    list-style: none;
    align-items: center;
    justify-content: center;
    width: 294px;
    height: 88px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    margin-bottom: 20px;
}

.shadow-box li {
    padding: 0 46px;
}

.triangle-with-shadow {
    width: 100%;
    height: 12px;
    position: relative;
    box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
}

.triangle-with-shadow:after {
    content: "";
    position: absolute;
    right: var(--right, unset);
    left: var(--left, unset);
    width: 23px;
    height: 23px;
    background: rgba(255, 255, 255, 0.5);
    transform: rotate(45deg);
    /* box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1); */
    box-shadow: -3px -2px 5px 0px rgba(0, 0, 0, 0.1);
}

.caret-down {
    font-size: 45px;
    height: 18px;
    font-weight: 500;
    color: #D9D9D9;
    transform-origin: 0 0;
    transform: rotate(180deg);
    position: absolute;
    top: 58px;
    left: 80px;
}

.angle {
    color: #D9D9D9;
    margin-left: 15px;
    margin-right: 15px;

}

.check {
    margin-left: 5px;
    margin-right: 5px;
}

.shadow-box .active {
    color: #D5944D;
    font-weight: 700;
}

/* section 1  single post*/

.single-post {
    background-color: #FFFFFF;
    margin: 50px;
}

.single-post>.post {
    width: 100%;
    height: 389px;
    display: flex;
    margin: 0;
}

.single-post>.post:hover {
    cursor: pointer;
    transform: scale(0.99);
}

/* .single-post>.post>img{
    width: 725px;
    margin-bottom: 20px;
    object-fit: cover;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);
  } */
.single-post>.post>img {
    max-width: 90%;
    max-height: 100%;
    width: 600px;
    object-fit: cover;
    border-radius: 5px;
}

.single-post>.post>figcaption {
    width: 45%;
    margin: 20px;
}

.single-post>.post>figcaption h6 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.single-post>.post>figcaption h1 {
    margin: 0;
    width: 500px;
    left: 845px;
    top: 189px;
    font-size: 58px;
    line-height: 65px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.single-post>.post>figcaption p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #252B42;
    width: 475px;
}

.single-post>.post>figcaption time {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #252B42;
}

@media all and (max-width: 1150px) {

    .single-post>.post>img {
        width: 480px;
    }

}

@media all and (max-width: 930px) {
    .single-post > .post > figcaption{
        width: inherit;
    }
    .single-post>.post {
        height: auto;
        flex-wrap: wrap;

    }

    .single-post>.post>img {
        width: 700px;
        height: 465px;
    }

    .single-post>.post>figcaption h1 {
        font-size: 42px;
        line-height: 50px;
        width: auto;
    }
}

@media all and (max-width: 500px) {
    .single-post {
        margin: unset;
    }

    .single-post>.post>img {
        width: 100%;
        height: auto;
        margin: 10px;
    }

    .single-post>.post>figcaption h1 {
        width: 350px;
        font-size: 28px;
        line-height: 42px;
    }

    .single-post>.post>figcaption p {
        width: 350px;
    }
}

/* section 2 list of posts */
.posts {
    background: #FFFFFF;
}

.nav-posts>ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 40px;
}


.nav-link-posts {
    color: #252B42;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1px;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-decoration: none;
}

.nav-link:hover {
    cursor: pointer;
    color: #D5944D;
}

.nav-posts .active {
    color: #D5944D;
    border-bottom: 3px solid #D5944D;
}

.wrapper-posts {
    display: flex;
    flex-wrap: wrap;
}
.wrapper {
    display: flex;
    justify-content: center;
}

.card-post {
    overflow: hidden;
    flex: 0 0 27.5%;
    /* box-shadow: 0px 2px 20px #d7dfe2; */
    background: white;
    border-radius: 0.5rem;
    position: relative;
    width: 350px;
    margin: 1rem;
    transition: 250ms all ease-in-out;
    cursor: pointer;
}

.card-post:hover {
    transform: scale(1.05);
}

.banner-img {
    position: absolute;
    object-fit: cover;
    height: 14rem;
    width: 100%;
}

.card-body {
    margin: 15rem 1rem 1rem 1rem;
}

.blog-date {
    font-size: 0.9rem;
    font-weight: 400;
}

.blog-title {
    line-height: 1.5rem;
    margin: 1rem 0 0.5rem;
    line-height: 32px;
    letter-spacing: 0.1px;
    width: 100%;
}

.blog-description {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #252B42;
}

/* .grid item row */
.card-grid {
    display: grid;
    height: 494px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
    row-gap: 10px;
    background: #512345;
    border-radius: 8px;
    color: #FFFFFF;
}

.card-grid:hover {
    cursor: auto;
}

.card-order a,
.card-partner a {
    text-decoration: underline;
    color: #fff;
}

.card-order h2,
.card-partner h2 {
    width: 230px;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin-bottom: 40px;
}

.card-order a:hover,
.card-partner a:hover {
    cursor: pointer;
}

.card-order,
.card-partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-left: 14px;
    border-bottom: 1px solid #FFFFFF;

}

.hide {
    display: none;
}

@media all and (max-width: 1150px) {
    .card-post {
        flex: 0 0 auto;
    }

    .wrapper-posts {
        justify-content: center;
    }
}

.view-more {
    text-align: center;
    line-height: 22px;
    letter-spacing: 0.2px;
    cursor: pointer;
}


/* footer */

.download-app {
    color: #252B42;
    padding: 10rem 0 0 7rem;
    border-radius: 8px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;

}

.title-store {
    position: relative;
    z-index: 5;

}

.download-app>div>h2 {
    width: 587px;
    font-size: 38px;
    line-height: 45px;
    letter-spacing: -0.3px;

}

.download-app>div>h5 {
    width: 395px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.flex-row-start-wrap {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.download-app>div>img {
    width: 583px;
    height: 660px;
    position: absolute;
    top: 0;
    right: 0;
    clip: rect(0px, 605px, 366px, 0px);
}

.download-app>div>.badge-img {
    width: 733px;
    height: 745px;
    top: -167px;
    right: 0;
    clip: rect(127px, 1100px, 566px, 0px);
}

.download-app>.img-bg {
    position: relative;
    width: 520px;
    height: 370px;
}

.store-flex {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

@media all and (max-width: 1150px) {

    .download-app {
        flex-wrap: wrap;
        justify-content: center;
        padding: 4rem 0 0 0;
        text-align: center;
    }

    .download-app>div>h2 {
        width: 100%;

        letter-spacing: 0.1px;
    }

    .download-app>div>h5 {
        width: 100%;

        letter-spacing: 0.1px;
    }

    .store-flex {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media all and (max-width: 500px) {
    .download-app>div>h2 {
        font-size: 24px;
        line-height: 32px;

        letter-spacing: 0.1px;
    }

    .download-app>div>h5 {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
    }

    .download-app>div>img {
        left: 0;
    }

    .img-bg {
        overflow: hidden;
    }

    .nav-link-posts {
        font-size: 1.2em;
    }
}

.store-size-btn {
    width: 151.98px;
    height: 44.83px;
    margin: 15px 23px 15px 0px
}

.store-size-btn img {
    width: 100%;
    height: 100%;
}

.Mobile {
    background-color: #FFFFFF;
    border: 1px solid #252B42;
    border-radius: 8px;
}

.media-img {
    width: 23px;
    margin-left: 20px;
}

.bg-ededed {
    background-color: #ededed;
}

.bg-f7f7f7 {
    background-color: #f7f7f7;
}

.bg-fff {
    background-color: #fff;
}
.inter-font {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.left-0-px {
    left: 0px;
}

.right-0-px {
    right: 0px;
}
