article>h1 {
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #252B42;


}

.nav-home a{
    color: #D5944D;
}
.head-content {
    font-size: 1.4rem;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    margin-bottom: 10px;
}

.head-content>div {
    margin: 0 5px;
    color: #D5944D;
}

.head-content>div::after {
    content: '';
    display: inline-block;
    position: relative;
    top: 7.5px;
    width: 1px;
    height: 32.06px;
    background-color: #252B42;
    margin-left: 5px;
    margin-right: 5px;
}

.head-content>time {
    margin: 10px 0px 0 0px;
    color: rgba(0, 0, 0, 0.5);
    flex: none;
    order: 4;
    flex-grow: 0;
}

.img-post {
    width: 100%;
    height: auto;
    max-height: 60vh;
    max-width: 100vw;
    margin-bottom: 25px;
}

.post-content {

    width: 769px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #252B42;
}
.markdown{
    width: 85%;
}
@media screen and (max-width: 481px) {
    .head-content {
        font-size: 1.2rem;
    }

    .img-post {
        width: 100%;
        height: 300px;

    }
    .markdown{
        width: 100%;
    }
}

@media screen and (min-width:481px) and (max-width: 769px) {
    .img-post {
        width: 100%;
        height: 300px;
    }
    .markdown{
        width: 90%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .img-post {
        width: 100%;
        height: inherit;
    }
}
